# -*- coding: utf-8 -*-

ENV=dev
SAVED_DIR=results
STOPWORDS_FILE=smart_word_cloud/static/stopwords_ch_en.txt
FONT_FILE=smart_word_cloud/static/simheittf/simhei.ttf  # 中文字体路径
IMAGE_FILE=smart_word_cloud/static/circle.png  # 背景图片路径
UPLOAD_DIR=uploads
